*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #535fa1);  /* Chrome 10-25, Safari 5.1-6 */
  background: black; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  background:#89aae6;

  border-bottom:1px solid#4ca2cd;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.2rem;
  color: black;
  font-weight: bold;
}
.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(./img/c-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}
.message-row{
  width:100%;
}
.message{
  background:#89aae6;
  color:black;
  border-radius:10px;
  margin:4px;
  display: inline-block;
  padding: 4px 12px;
}

.text-input{
  background:none;
  border-top:1px solid #89aae6;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button{
  position:absolute;
  right:0.65rem;
  top:0.5rem;
  border-radius:100%;
  border:1px white;
  background:#89aae6;
  color:#89aae6;
  cursor: pointer;
  outline:none;
  height:1.4rem;
  width:1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-button[disabled]{
  background:#89aae6;
  cursor: default;
}
.send-button > svg {
  color: white;
}
.send-button[disabled] > svg {
  color: white;
}

.input{
  height:1.65rem;
  width: calc(100% - 1rem);
  background:#89aae6;
  opacity:50%;
  border-radius: 0.8rem;
  outline:none;
  border:1px solid #89aae6;
  color:white;
  padding-left:10px;
}
.inputx{
  border:1px solid white;
  border-radius:1.6rem;
  height:1.6rem;
  width:calc(100% - 20px);
  background: rgba(0,0,0,0.85);
  color:white;
  padding:0 10px;
  outline:none;
}
.send-buttonx{
  position:absolute;
  right:12px;
  top:0.55rem;
  border-radius:100%;
  background:white;
  color:black;
  border:none;
  height: 1.4rem;
  width: 1.4rem;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  outline:none;
}
.send-buttonx[disabled]{
  cursor: default;
  background:grey;
}
.name-picker{
  display:flex;
  margin:0 200px;

}
.name-picker input {
  max-width:100px;
  border:1px solid black;
  border-radius:1.6rem;
  height:1.6rem;
  width:calc(100% - 20px);
  background: #89aae6;
  color:black;
  padding:0 10px;
  outline:none;
}

.name-picker button{
  color:black;
  margin: 0 4px;
  border-radius:20%;
  border:2px solid black;
  background:#89aae6;
}


.edit-username{
  display:flex;
  margin:0 200px;
}

.edit-username button{
  color:black;
  background: none;
  border: 1.5px solid black;
  border-radius: 20%;

  font-weight: 200;
  font-size: .9rem;
  margin: 0 12px;
}
.username{
  color:black;
  font-size: 1rem;
  font-weight: 200;
  margin:3px;
}
